= form_with(model: reaction_form, url: event_reactions_path(event_url_path), method: :patch, local: true) do |form|
  - if reaction_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(reaction_form.errors.count, "error")} prohibited this reaction from being saved:"
      %ul
        - reaction_form.errors.full_messages.each do |message|
          %li= message
  %table{ border: 1 }
    %thead
      %tr
        %th 日程
        %th ◯
        %th △
        %th ×
    - event_dates.each do |event_date|
      %tr
        %th= event_date.event_date
        %td= form.radio_button "answer[#{event_date.id}]", 1
        %td= form.radio_button "answer[#{event_date.id}]", 2, { checked: true }
        %td= form.radio_button "answer[#{event_date.id}]", 3
  .actions
    = form.submit 'Save'
