= form_with(model: reaction_form, url: event_reactions_path(event_url_path), local: true) do |form|
  %table{ border: 1 }
    %thead
      %tr
        %th 日程
        %th ◯
        %th △
        %th ×
    - event_dates.each do |event_date|
      %tr
        %th= event_date.event_date
        %td= form.radio_button "answer[#{event_date.id}]", 1
        %td= form.radio_button "answer[#{event_date.id}]", 2, { checked: true }
        %td= form.radio_button "answer[#{event_date.id}]", 3
  .actions
    = form.submit 'Save'
