= form_with(model: event_form, url: polymorphic_path(event_form.event), local: true) do |form|
  - if event_form.errors.any?
    #error_explanation
      %h2
        = pluralize(event_form.errors.count, "error")
        prohibited this event_form from being saved:
      %ul
        - event_form.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title
  %span#add_event_date 追加する
  .text_field#event_date_area
    = form.label :event_dates_text
    = form.datetime_field :event_dates_text
  -# .field
  -#   = form.label :event_dates_text
  -#   = form.text_area :event_dates_text, size: '30x10', placeholder: '候補日程／日時を入力してください。候補の区切りは改行で判断されます。'
  .actions
    = form.submit 'イベントを作成する'
