%p
  %strong User:
  = @event.user_id
%p
  %strong Title:
  = @event.title
%ul
  - @event.event_dates.each do |event_date|
    %li= event_date.event_date  
= link_to 'Edit', edit_event_path(@event.url_path)
|
= link_to 'Back', events_path
