!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NomikaiAdjustment
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p#notice= notice
    - if current_user.present?
      = "#{current_user.name}さんとしてログイン中です。"
      = link_to 'ログアウト', logout_path, method: :delete
    = yield
